.button {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all ease .3s;

    &:hover {
        background-color: #2B2A3A;
        color: #83829A;
        border-color: #83829A;
    }

    &:active {
        background-color: #0F0E26;
        color: #83829A;
        border-color: #0F0E26;
    }
}